<div class="bag-img">
    <div *ngIf="false" class="jul">
        <a href="{{ julesti + 'Frujensenfratolne.pdf'}}" mat-button>Fru Jensen fra Tolne</a>
        <a href="{{ julesti + 'Hjemstawn.pdf'}}" mat-button>Hjemstawn</a>
        <a href="{{ julesti + 'IngenelskersomenVendelbo.pdf'}}" mat-button>Ingen elsker som en Vendelbo</a>
        <a href="{{ julesti + 'BamsesVennerVennerKomOgSe.pdf'}}" mat-button>Venner kom og se</a>
        <a href="{{ julesti + 'Åbnelandskab.pdf'}}" mat-button>Åbne landskab</a>
    </div>
    <div class="jul">
        <a href="https://finnskjold.dk" mat-button>Take away bestilling</a>
    </div>
    <div class="con noscroll">
        <div fxLayout="row wrap" fxLayoutAlign="center none">

            <div class="textBox" style="font-size:25pt;">
                <div class="center">
                    <div class="textBlue">Jeg koder det,</div>i har behov for.
                    <div class="hvadviljeg">
                        <a routerLink="/hvadviljeg" mat-button><img src="assets/succes2.png" width=15%>Hvad vil jeg
                            ?</a>
                    </div>
                    <a class="wordpress" href="https://w.finnskjold.dk" mat-button></a>
                    <a routerLink="/besoeg" mat-button><img src="assets/bag.png" width=15%>Virksomhedsbesøg</a>
                    <a routerLink="/video" mat-button><img src="assets/Movies-icon.png" width=15%>Video MARTIN</a>
                </div>
            </div>
            <div class="colorBox">
                <img src="assets/Forside75.png" width="100%">
            </div>
            <div class="textBox" style="font-size1:pt;">
                <div class="center">
                    <div class="textBlue">Jeg bygger gerne på noget eksisterende</div>
                    eller starter fra grunden og bruger mine styrker.
                </div>
            </div>
            <div class="colorBox" style="border: solid 4px rgb(35, 35, 156);">
                <img src="assets/ProgramWeb.jpg" width=100%>
            </div>
            <div class="textBox">
                <div class="center">
                    <div class="textBlue">Kontakt mig og jeg </div>
                    står klar til jeres næste opgave.
                </div>
            </div>
            <div class="colorBox">
                <img src="assets/Coding.jpg" width=100%>
            </div>
        </div>
    </div>
    <app-banner class="noscroll"></app-banner>
</div>