<div class="bag-img">
  <div class="con">
    <div class="textTop">
      <div>Full stack Angular, Laravel/PHP og Java udvikler</div>
      <!--div style="float: right;">
        <a class="textBack" onclick="history.back()" mat-button>
          <mat-icon>arrow_back</mat-icon>Tilbage
        </a>
      </div-->
    </div>
    <div fxLayout="row wrap" fxLayoutGap="30px grid1" fxLayoutAlign="center none">
      <div class="textbox">
        <img src="assets/succes2.jpg" width="40px" />
        <div class="text1">
          Jeg er Full Stack Udvikler og kan skabe færdige systemer hos jer.
          Jeg behersker mange programmerings- sprog og kan tilpasse mig jeres behov.
        </div>
        <div class="text1">
          I kan bruge mig til at løse en presserende opgave
          eller give mig en opgave i ikke har haft tid til at løse.
        </div>
      </div>
      <div class="textbox">
        <img src="assets/succes1.png" width="40px" />
        <p class="text1">
          Jeg hedder Finn Skjoldager og er
          IT-specialist med mange års erfaring.
        </p>
        <p class="text1">
          Jeg har bl.a. arbejdet 11 år hos IBM i Skejby
          hvor jeg udviklede systemer i Java.
        </p>
      </div>
      <div class="textbox">
        <img src="assets/working.png" width="40px" />
        <div class="text1">
          Timeplan og Scheduler fra DayPilot.<br><br>
          <div id="develop">
          <a routerLink="/timeplan" mat-button>TimePlan</a>
          <a routerLink="/schedule" mat-button>Scheduler</a>
        </div>
        </div>
      </div>
      <div class="textbox">
        <img src="assets/code1.png" width="40px" />
        <div class="text1">
          Jeg søger arbejde indenfor frontend udvikling hvor Angular bruges.
          Backend kan f.eks. være Laravel/PHP eller Java EE<br>
          Sprog anvendt i denne site:
          <ul>
            <li>Angular</li>
            <li>Laravel/PHP</li>
            <li>DoctrineORM</li>
            <li>Python</li>
            <li>Symfony/PHP</li>
          </ul>
        </div>
      </div>
      <div class="textbox">
        <img src="assets/succes3.jpg" width="40px" />
        <div class="text1">
          Der køres et batch job (cronjob) på hosten simply.com
          Det søger efter jobs på Jobindex.dk, Careerjet.dk og Jobfinder hvorefter de lægges i en
          databasen så nye jobs er enkle at fremsøge. Der kan klikkes på det enkelte job og flere oplysninger
          er tilgængelige.<br>
          <a routerLink="/jobsearch" mat-button>Jobseach (cronjob)</a>
        </div>
      </div>
      <div class="textbox">
        <img src="assets/it-system.jpg" width="40px" />
        <div class="text1">Dette system kan også bruges når man besøger virksomheder.
          Det er enkelt at nedskrive notater fra besøget på mobilen
          lige efter besøget.
          <a routerLink="/besoeg" mat-button>Virksomhedsbesøg</a>
        </div>
        <div class="text1">
          Der er en medlemsliste over de personer der udfører besøgene.
          De kan tilføjes det enkelte besøg.
        </div>
      </div>

      <div class="textbox">
        <img src="assets/integration2.png" width="40px" />
        <div class="text1">
          Systemet har integrationer til:
          <ul>
            <li>cvrapi.dk</li>
            <li>dataforsyningen.dk</li>
            <li>118.dk</li>
          </ul>
        </div>
        <div class="text1">
          Der kan udføres et opslag i cvrapi.dk som kan bruges til at oprette et besøg.
          <a routerLink="/opslag" mat-button>Opslag i cvr</a>
        </div>
      </div>

      <div class="textbox">
        <img src="assets/teknologi12.png" width="40px" />
        <div class="text11">
          Der er bl.a. anvendt teknologierne:
          <ul>
            <li>CRUD database operationer</li>
            <li>Scrape af data fra 118.dk</li>
            <li>Microservices</li>
          </ul>
        </div>
        <div class="text11">
          Der er anvendt services:
          <ul>
            <li>one.com</li>
            <li>MySQL</li>
            <li>Heroku.com</li>
          </ul>
        </div>
      </div>
      <div class="textbox">
        <img src="assets/working.png" width="40px" />
        <div class="text1">
          Jeg arbejder stadig på systement og derfor er der funktioner
          som endnu ikke er færdiggjort.<br><br>
          <div id="develop">
          <a routerLink="/videoall" mat-button><img src="assets/Movies-icon.png" width=15%>Videoer</a>
          <a routerLink="/timeplan" mat-button>TimePlan</a>
          <a routerLink="/material" mat-button>Material components</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>