<div class="container bag-img">
<div class="cv">
    <div>
        <div class="textTop">Vis besøg
        <div style="float: right;">
          <a class="textBack" onclick="history.back()"  mat-button><mat-icon>arrow_back</mat-icon>Tilbage</a>
        </div>
      </div>
    <div class="textBesoeg">
      <b>Besøg hos:</b>&nbsp;&nbsp;{{ besoeg.firmanavn }},&nbsp;&nbsp;{{ besoeg.adresse }},&nbsp;&nbsp;{{
          besoeg.postnummer }}
    </div>
    <h4>Nr:</h4><p>{{ besoeg.nr }}</p>
    <hr class="solid">
    <h4>Besogsdato:</h4><p>{{ besoeg.besogsdato }}</p>
    <hr class="solid">
    <h4>Postnummer:</h4><p>{{ besoeg.postnummer }}</p>
    <hr class="solid">
    <h4>Firmanavn:</h4><p>{{ besoeg.firmanavn }}</p>
    <hr class="solid">
    <h4>GPSpunkt:</h4><p>{{ besoeg.gpspunkt }}</p>
    <hr class="solid">
    <h4>Adresse:</h4><p>{{ besoeg.adresse }}</p>
    <hr class="solid">
    <h4>Hjemmeside:</h4><p>{{ besoeg.hjemmeside }}</p>
    <hr class="solid">
    <h4>Kontaktperson:</h4><p>{{ besoeg.kontaktperson }}</p>
    <hr class="solid">
    <h4>MailAdresse:</h4><p>{{ besoeg.mailadresse }}</p>
    <hr class="solid">
    <h4>TelefonNr:</h4><p>{{ besoeg.telefonnr }}</p>
    <hr class="solid">
    <h4>Uopfordretansog:</h4><p>{{ besoeg.uopfordretansog }}</p>
    <hr class="solid">
    <h4>Ledigtjob:</h4><p>{{ besoeg.ledigtjob }}</p>
    <hr class="solid">
    <h4>Kommentarer:</h4><p>{{ besoeg.kommentarer }}</p>
</div>
</div>