.container{
  width:100%;
}
.cv{
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
    width: 600px;
    border-radius:15px;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px 1rgba(0, 0, 0, 0.15);
    border: 1px solid black;
  }
  hr.solid {
    border-top: 2px solid black;
  }
  h4 {
    font-size: 15px;
    font-weight: bold;
  }
  /* medium size viewport */
@media screen and (max-width: 959px) {
  .cv{
    width: 100%;
  }
}
/* small size viewport */
@media screen and (max-width: 599px) {
  .cv{
    width: 100%;
  }
}